*{
    box-sizing: border-box;
    font-family: "NewsGoth Cn Bt", sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
    text-decoration: none;

}

body{
	background-color: #06080D;

}
.main-container{
    background-color: #06080D;
    color: #1B8EF2;
    display: flex;
    flex-direction: column;
    height: 100vh;
	margin: 0 auto;
	min-width: 375px;
	max-width: 768px;
    padding: 20px;
    width: 100vw;
	
}
.title{
    font-family: Heavitas;
	font-size: 18px;
    padding-bottom: 20px;
    text-align: center;
}

.options{
	background-color: #1A2E40;
	border-radius: 40px;
    display: flex;
	height: 40px;
    justify-content: center;
    margin: 0 auto 20px;
	width: 250px;
}

.options select{
    background-color: #1A2E40;
    border: none;
    border-radius: 40px;
    color: #1B8EF2;
    height: 40px;
    padding: 5px;
    width: 190px;
}

.two-columns{
    display: flex;
}

.two-columns div{
    margin-bottom: 5px;
    width: 50%;
}

.components{
    margin-bottom: 20px;
}

.components ul li div{
    align-items: center;
    display: flex;
    width: 50%;
}

li{
    display: flex;
    list-style: none;
    margin-bottom: 5px;
}

input{
    color: #1B8EF2;
    margin-right: 5px;
    padding: 0 10px;
    font-size: 16px;
    text-align: right;
}

input[type=number]{
    height: 30px;
    background-color: #1A2E40;
    border: none;
    border-radius: 25px;
    width: 130px;
}

.resultado{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resultado #title{
    font-family: Heavitas;
	font-size: 18px;
    padding-bottom: 5px;
    text-align: center;
}

.display{
    background-color: #1A2E40;
    border-radius: 20px;
	display: flex;
	justify-content: space-between;
    padding: 5px 15px;
    min-width: 160px;
}

.curency{
	font-family: Heavitas;
}
.value{
	font-family: Heavitas;
	font-size: 40px;
	text-align: right;
	width: 100%;
}
.cents{
	font-family: Heavitas;
	text-align: right;
}